@charset "ISO-8859-1";

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    
}

body {
  background: #f6f6f6;
  font-family: 'Lato', sans-serif;
}

body > body {
  background: #111;
  color: white;
  font-size: 24px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body > main {
  background: #fff;
  padding: 0 30px 30px;
}

body > main .page-title {
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
}

body > main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > main .content section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body > main .content aside {
  min-width: 250px;
}

/* Configuração NavBar*/

.navbar .navbar-nav {
    margin-right: 15%;

}
.logo img {
    max-width:100%;
}
.input-group {
    width: 35vw;
}

.input-group-text, .input-group .form-control {
    border-radius: 15px;
}

.input-group .form-control {
    border-right: none;
}

.input-group-text {
    background-color: #fff;
}

.navbar-nav {
    justify-content: space-around;    
    margin-left: 4%;
    width: 40vw;
 
}

.nav-item dropdown{
	font-size: 15px;
}
.nav-item a {
    text-decoration: none;
    color: #000;
}

.nav-item button {
    text-decoration: none;
    color: #000;
}

.nav-item button:hover {
    color: #000;
}

#auth {
    border: none;
    font-size: 1.2em;
   
}

#auth a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.fa-bag-shopping {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

.keep-products {
    display: flex;
}

body {
    background-color: #e5e7eb;
}

.container_main {
    margin: 60px 0px 0px 0px;
}

.main_principal {
    display: flex;
    justify-content: space-around;
}




button {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  border-bottom: 3px solid #eee;
}

table thead tr th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #666;
}

table tbody tr {
  border-bottom: 3px solid #eee;
}

table tbody tr:last-child {
  border: 0;
}

table tbody tr td {
  padding: 30px 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product img {
  border-radius: 6px;
}

.product .info {
  margin-left: 20px;
}

.product .info .name {
  font-size: 20px;
  margin-bottom: 10px;
}

.product .info .category {
  color: #666;
}

.qty {
  background: #eee;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
}

.qty span {
  margin: 0 10px;
}

.qty button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 20px;
  height: 100%;
}

.qty button:hover {
  background: #ddd;
}

.remove {
  background: #eee;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.remove:hover {
  background: #ddd;
}

aside {
  margin-left: 30px;
}

aside .box {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background: #eee;
  color: #222;
}

aside .box header {
  padding: 15px 20px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

aside .box .info {
  padding: 20px;
  font-size: 16px;
}

aside .box .info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
}

aside .box .info > div:last-child {
  margin: 0;
}

aside .box .info button {
  color: #28a745;
  background: transparent;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

aside .box footer {
  padding: 15px 20px;
  background: #ddd;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside > button {
  border: 0;
  padding: 15px 0;
  color: white;
  background: #28a745;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

aside > button:hover {
  background: #3bc55b;
}
/*# sourceMappingURL=styles.css.map */


/* Configuração Rodapé */
footer {
    background-color: #ddd9ce;
    color: #000;
    padding: 20px 0;
}
.container {
    width: 100%;
}

#footer-content {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#footer-content .titulo-footer {
    width: 100%;
    text-align: center;
}

.wrapper ul {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(118, 199, 242, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.whatsapp {
    --color: #25D366;
}
.facebook {
    --color: #1877f2;
}

.instagram {
    --color: #e4405f;
}

.twitter {
    --color: #000;
}


.icon:hover,
.icon:hover .tooltip,
.icon:hover .tooltip::before {
    background: var(--color);
    color: white;
}

.links_rodape ul {
    list-style: none;
    padding: 0;
}

.links_rodape li {
    margin: 10px 0;
}

.links_rodape a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.links_rodape a:hover {
    border-bottom: solid 2px #ffffff;
    color: #000;
}

form p {
    font-size: small;
    margin-top: 5px;
}

.input-wrapper {
    margin: 15px 0; 
    padding: 8px 2px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #fff;
    border-radius: 16px;
}

.input-wrapper i {
    color: #000;
    cursor: pointer;
}

.input-wrapper input {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 20px;
}

.input-wrapper input:focus-visible {
    outline: none;
}

.input-button button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px #000;
}

button:hover {
    color: #000;
    border: 2px solid #000;
    border-color: #00ced1;
}

.red-line {
    border: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.desenvolvido-por{
	background-color: #ddd9ce;
	text-align: center;
	justify-content: center;
	color: black;
	
}



